MONGO_URI=mongodb+srv://spa_admin:YOUR_PASSWORD@cluster0.swvlcma.mongodb.net/spa_admin_db?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=spa_admin_db

SECRET_KEY=change-this-secret-key
JWT_SECRET_KEY=change-this-jwt-secret-key
DEBUG=false

# Your frontend Vercel URL. Add more domains in FRONTEND_URLS separated by comma if needed.
FRONTEND_URL=https://smart-project-allocator-system-dj2j.vercel.app
FRONTEND_URLS=https://smart-project-allocator-system-dj2j.vercel.app,https://smart-project-allocator-system-d2j.vercel.app

ADMIN_NAME=SPA Main Admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@spa.com
ADMIN_PASSWORD=SpaAdmin@2007
